[Unit]
Description=Redis Container

[Container]
Image=docker.io/redis:6.2-alpine@sha256:905c4ee67b8e0aa955331960d2aa745781e6bd89afc44a8584bfd13bc890f0ae
AutoUpdate=registry
ContainerName=immich_redis
Pod=immich.pod

[Service]
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target default.target