[Unit]
Description=Immich Service Container
After=immich_postgres.service immich_redis.service

[Container]
Image=ghcr.io/immich-app/immich-server:release
AutoUpdate=registry
ContainerName=immich_server
Pod=immich.pod
EnvironmentFile=./immich.env
Volume=/mnt/immich/library:/usr/src/app/upload
Volume=/etc/localtime:/etc/localtime:ro

# For GPU transcode
# More info: https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/latest/cdi-support.html
# Run this cmd: nvidia-ctk cdi generate --output=/etc/cdi/nvidia.yaml
SecurityLabelDisable=true
AddDevice=nvidia.com/gpu=all
AddDevice=/dev/dri/card0
AddDevice=/dev/dri/card1
AddDevice=/dev/dri/renderD128

[Service]
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target default.target
