[Unit]
Description=Immich Postgres Container

[Container]
Image=docker.io/tensorchord/pgvecto-rs:pg14-v0.2.0@sha256:90724186f0a3517cf6914295b5ab410db9ce23190a2d9d0b9dd6463e3fa298f0
AutoUpdate=registry
ContainerName=immich_postgres
Pod=immich.pod
EnvironmentFile=./immich.env
Volume=/mnt/immich/postgres:/var/lib/postgresql/data

[Service]
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target default.target