[Unit]
Description=Nextcloud Web Container
After=nextcloud_app.service

[Container]
Image=docker.io/caddy:latest
AutoUpdate=registry
ContainerName=nextcloud_web
Pod=nextcloud.pod
Volume=./nextcloud_caddy.conf:/etc/caddy/Caddyfile:ro
Volume=nextcloud_data.volume:/var/www/html:ro,z

[Service]
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target default.target
