[Unit]
Description=Immich Machine Learning Container

[Container]
Image=ghcr.io/immich-app/immich-machine-learning:release
AutoUpdate=registry
ContainerName=immich_machine_learning
Pod=immich.pod
Volume=immich_model_cache.volume:/cache

# For GPU transcode
# More info: https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/latest/cdi-support.html
# Run this cmd: nvidia-ctk cdi generate --output=/etc/cdi/nvidia.yaml
SecurityLabelDisable=true
AddDevice=nvidia.com/gpu=all

[Service]
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target default.target