[Unit]
Description=Nextcloud Redis Container

[Container]
Image=docker.io/redis:alpine
AutoUpdate=registry
ContainerName=nextcloud_redis
Pod=nextcloud.pod

[Service]
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target default.target